.main-container{
    border: 1px solid rgb(232,233,226);
    display: flex;
    max-width: 55vw;
    min-height: 78%;
    margin:6vh auto;
    padding:1.5rem;
    border-radius:10px;
    background-color:white;
    box-sizing: border-box;
    display:grid;
    grid-template-areas: 'top-div top-div top-div'
    'lang-div lang-div lang-div'
    'input input input'
    'input input input'
    'input input input'
    'control-div control-div control-div';
}
.top-nevigation{
    height: 8vh;
    display:flex;
    margin-top: 15px;
    width: 100%;
    grid-area: top-div;
    justify-content: space-between;
}
.top-nevigation>.left-icons img{
    height:2rem;
    margin:0.5rem;
}
.top-nevigation>.left-icons :nth-child(1){
    height:1.3rem;
    position:relative;
    top:-5px;
}
.top-nevigation>.post-button{
    border: 2px solid rgb(99,99,99);
    color: rgb(82, 82, 82);
    border-radius: 50px;
    height: 20px;
    padding:6px 15px;
    margin: 0.3rem;
    cursor:pointer;
}
.top-nevigation>.post-button> span{
    padding-bottom:5px;
    position:relative;
    bottom:5px;
    margin:0.3rem;

}
.add-language-div{
    height: 7vh;
    width: 100%;
grid-area: lang-div;
}
.add-language-div span{
    position:relative;
    top:-10px;
    margin:10px;
    color:gray;
    text-decoration:underline;
}
.input-text{
    position:relative;
    top:5px;
    height: 40vh;
    grid-area: input;
}
.input-text>span{
    position:relative;
    top:-50px;
    left:93%;
}
.input-text>textarea{
    height:80%;
    width:95%;
    font-size:1.3rem;
    font-family:Roboto, sans-serif;
    line-height:23px;
    font-size:18px;
    outline:none;
    padding:1rem;
    border-radius:10px;
    border:solid 1px rgb(223, 222, 222);
}
.tools-control{
    border:solid 1px rgb(223, 222, 222);
    width:97%;
    border-radius:10px;
    grid-area:control-div;
    margin:2vh 0;
    padding:10px;
    display: flex;
  justify-content:space-around;
}
.tools-control>label{
    cursor:pointer;
}
.tools-control span{
    margin-top: 0.5rem;
}
