.top-navbar{
    display:flex;
    position:fixed;
    top: 0px;
    left:20vw;
    height:3rem;
    width:56.5%;
    justify-content:space-around;
    font-size:1.05rem;
    position: fixed;
    background-color:rgb(248,246,242);
    z-index:2;
    padding-top:1.5rem;
}
.top-navbar span{
    padding:7px 10px;;
    color:rgb(93,118,129);
    font-weight:bold;
    cursor:pointer;
    height:20px;
    border-radius:20px;
}
.top-navbar span:hover{
    background-color:rgb(239,243,242);
    text-decoration:underline;
}
.likes-count>span{
    font-size:0.8rem;
    position:relative;
    top:-5px;
    padding:3px;
}